.picture {
  &__wrapper {
    width: 100%;
    height: 436px;
    background: url("../assets/images/wrapper@1x.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width: 834px) {
  .picture {
    &__wrapper {
      height: 250px;
    }
  }
}
